
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.nav__list{
    display: flex;
    align-items: center;
}
.nav__item{
 margin: 0 8px;
}
.nav__link{
    padding: 10px;
    color: black;
    font-size: 19px;
    font-weight: 500;
    border-radius: 5px;
    position: relative;
}
.nav__link:hover{
    position: relative;
}
.nav__link:hover::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color:blue;
    transition: 5s;
}
.close{
    display: none;
}
.navbar-border{
    border-radius: .6rem;
    box-shadow: 0px 4px 25px rgb(14 36 49 / 15%);
}

@media screen and (max-width:767px){

    .close{
        position: absolute;
        top: 0;
        right: 24px;
        display: block;
        font-size: 24px;
        border-radius: 50%;
        cursor: pointer;
    }

    .nav__menu{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: blue;
        color: white;
        width: 60%;
        height: 100vh;
        padding: 24px;
        z-index: 100;
        transition: 0.5s;
        border-radius: 0 0 0 50%;
        margin: 0 !important;
    }
    .nav__list{
        display: flex;
        flex-direction: column;  
    }
    .nav__item{
      margin: 2rem ;
    }
    .show{
        right: 0 !important;
    }
}

.sectionTwoText{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 20px;
    height: 100vh;
   } 
   .home-text h2{
       font-size: 4rem;
       font-weight: 600;
   }
   .home-text span{
     color: blue;
     font-size: 3rem;
     font-weight: 600;
   }
   
   .icons{
   
       word-spacing: 10px;
       font-size: 24px;
   }
   .icona:hover{
       color: blue;
   }
   
   .about-title h2{
       font-size: 4rem;
       text-align: center;
   }
   .about-title{
       position: relative;
   }
   .about-title h2::after{
       position: absolute;
       content: "";
       width: 10rem;
       height: 0.18rem;
       left: 0;
       right: 0;
       margin: auto;
       top: 5rem;
       background-color: blue;
   }
   .progress{
   height: 10px;
   margin: 5px;
   
   }
   .progress-border{
       position: relative;
       background-color: rgb(255, 255, 255) ;
       border-radius: .6rem;
       box-shadow: 0px 4px 25px rgb(14 36 49 / 15%);
       padding: .5rem 1rem;
       margin: 10px;
       box-sizing: border-box;
   }
   .progress-border1::after{
       position: absolute;
       content: "";
       width: 90%;
       height: 0.18rem;
       left: 0;
       right: 0;
       top: 2.9rem;
       background-color: blue;
       border-radius: .5rem ;
       overflow: hidden ;
       box-sizing: border-box;
   }
   .progress-border2::after{
       position: absolute;
       content: "";
       width: 100%;
       height: 0.18rem;
       left: 0;
       right: 0;
       top: 2.9rem;
       background-color: blue;
       border-radius: .5rem ;
       box-sizing: border-box;
   }
   .progress-border3::after{
       position: absolute;
       content: "";
       width: 75%;
       height: 0.18rem;
       left: 0;
       top: 2.9rem;
       right: 0;
       background-color: blue;
       border-radius: .5rem ;
       box-sizing: border-box;
   }
   .progress-border4::after{
       position: absolute;
       content: "";
       width: 90%;
       height: 0.18rem;
       left: 0;
       right: 0;
       top: 2.9rem;
       background-color: blue;
       border-radius: .5rem ;
       box-sizing: border-box;
   }
   .skills-title h2{
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin-bottom: 1rem;
   }
   .skills-title {
   margin-left: .9rem;
   }
   .skill{
       position: relative;
   }
   .skill::after{
       position: absolute;
       content: "";
       width: 10rem;
       height: 0.18rem;
       left: 0;
       right: 0;
       margin: auto;
       top: 3rem;
       background-color: blue;
   }
   .parent{
       overflow: hidden;
   }
   .child img{
       display: block;
   }
   .child img:hover{
       transform: scale(1.5);
       transition: 6s;
       border-radius: 5px;
   }
   
   textarea{
       width: 100%;
       height: 8rem;
   }
   .footer-para{
       padding: 5rem;
       /* height: 10rem; */
       background-color: #4070F4;
   }
   @media only screen and (min-width: 768px) {
       #navbar-toggler{
           display: none;
       }
   }
